.disabled {
  background-color: #f2f2f2; /* 비활성화된 날짜의 배경색 */
}

.selected {
  background-color: #7aeebe; /* 선택된 날짜의 배경색 */
}

.not-valid {
  color: #ccc; /* 현재 달에 속하지만 유효하지 않은 날짜의 색상 */
}

.valid:hover {
  background-color: #f0f0f0; /* 유효한 날짜에 마우스를 올렸을 때의 배경색 */
}
